/*
  圆角大小
  [radius1]{
    border-radius: 1Px
  }
  ...
  [circle]{
    border-radius: 100rem;
  }
*/
@for $i from 1 through 10{
  [radius#{$i}] {
    border-radius: #{$i}Px;
    overflow: hidden;
  }
}

[circle]{
  border-radius: 100rem;
}

/*
  边框
  [bor-base]{
    border: $border-base
  }
*/
[bor-base]{
  border: $border-base;
}